@use 'src/styles/constants/colors';

.signUpWrapper {
  h3 {
    margin-top: 50px;
    font-size: 23px;
    font-weight: 800;
    color: colors.$GREEN1;
  }

  .signUpText {
    margin-top: 10px;
    font-size: 13px;
    color: colors.$GRAY1;
  }

  .text {
    display: flex;
    justify-content: center;
    width: 280px;
    font-size: 14px;
    color: colors.$GREEN1;
  }
}
