$WHITE: #ffffff;
$BLACK: #2c2c2e;
$RED: #ff453a;
$BEIGE: #f5f0ea;
$PURPLE: #f2ebfd;
$BROWN: #986f57;
$GRAY1: #c7c7cc;
$GRAY2: #8e8e93;
$GRAY3: #48484a;
$GREEN1: #5f8375;
$GREEN2: #aad4ce;

$BACKGROUND: #f9f5f2;
$INPUT: #f0faf6;
