$WHITE: #ffffff;
$BLACK: #2c2c2e;
$RED: #ff453a;
$BEIGE: #f5f0ea;
$PURPLE: #f2ebfd;
$BROWN: #986f57;
$GRAY1: #c7c7cc;
$GRAY2: #8e8e93;
$GRAY3: #48484a;
$GRAY4: #f8f8f8;
$GRAY5: #e6e6eb;
$GREEN1: #5f8375;
$GREEN2: #aad4ce;
$GREEN3: #dee8e7;
$GREEN4: #4a655a;
$GREEN5: #f1f7f6;
$GREEN6: #aed5d1;

$BACKGROUND: #f9f5f2;
$INPUT: #f0faf6;
