@use 'src/styles/constants/colors';

.calendarWrapper {
  position: relative;
  width: 280px;
  height: auto;
  // background-color: colors.$GREEN5;
  border: 1px solid colors.$GRAY5;
  border-radius: 20px;

  .title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: colors.$GREEN4;

    .yearSelect {
      width: 45px;
      margin-top: 20px;
    }

    select {
      font-size: 20px;
      font-weight: 600;
      color: colors.$GREEN4;
      text-align-last: center;
      border: 0 none;
      -webkit--appearance: none;
      -moz-appearance: none;
      appearance: none;

      option {
        font-size: 15px;
        color: colors.$BLACK;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-top: 20px;
      background-color: colors.$GREEN3;
      border-radius: 50%;

      svg {
        color: colors.$GREEN1;
      }
    }

    .prevBtn {
      margin-right: 15px;

      svg {
        margin-left: 4px;
      }
    }

    .nextBtn {
      margin-left: 15px;
    }
  }

  .week {
    display: flex;
    justify-content: space-evenly;
    width: 260px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: colors.$GREEN1;
  }

  .date {
    display: inline-block;
    width: 260px;
    margin-top: 10px;
    margin-left: 10px;

    .weekday {
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      width: 37.1px;
      height: 39px;
      margin-bottom: 2px;
      font-size: 17px;
      line-height: 50px;
      color: colors.$GRAY2;
    }

    .sunday {
      color: colors.$RED;
    }

    .today {
      color: colors.$WHITE;
      background-color: colors.$GREEN1;
      border-radius: 50%;
    }

    .clickedDate {
      background-color: colors.$GREEN6;
      border-radius: 50%;
    }
  }
}
